# Content-based recommendation system

## Data procesing

In [37]:
# Import packages
import os
import pandas as pd

In [38]:
# Define file directories
MOVIELENS_DIR = 'ml-1m'
USER_DATA_FILE = 'users.dat'
MOVIE_DATA_FILE = 'movies.dat'
RATING_DATA_FILE = 'ratings.dat'

In [39]:
# Specify User's Age and Occupation Column
AGES = { 1: "Under 18", 18: "18-24", 25: "25-34", 35: "35-44", 45: "45-49", 50: "50-55", 56: "56+" }
OCCUPATIONS = { 0: "other or not specified", 1: "academic/educator", 2: "artist", 3: "clerical/admin",
                4: "college/grad student", 5: "customer service", 6: "doctor/health care",
                7: "executive/managerial", 8: "farmer", 9: "homemaker", 10: "K-12 student", 11: "lawyer",
                12: "programmer", 13: "retired", 14: "sales/marketing", 15: "scientist", 16: "self-employed",
                17: "technician/engineer", 18: "tradesman/craftsman", 19: "unemployed", 20: "writer" }

In [40]:
# Define csv files to be saved into
USERS_CSV_FILE = 'users.csv'
MOVIES_CSV_FILE = 'movies.csv'
RATINGS_CSV_FILE = 'ratings.csv'

In [42]:
# Read the Ratings File
ratings = pd.read_csv(os.path.join(MOVIELENS_DIR, RATING_DATA_FILE), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['user_id', 'movie_id', 'rating', 'timestamp'])

# Set max_userid to the maximum user_id in the ratings
max_userid = ratings['user_id'].drop_duplicates().max()
# Set max_movieid to the maximum movie_id in the ratings
max_movieid = ratings['movie_id'].drop_duplicates().max()

# Process ratings dataframe for Keras Deep Learning model
# Add user_emb_id column whose values == user_id - 1
ratings['user_emb_id'] = ratings['user_id'] - 1
# Add movie_emb_id column whose values == movie_id - 1
ratings['movie_emb_id'] = ratings['movie_id'] - 1

print(len(ratings), 'ratings loaded')

1000209 ratings loaded

In [43]:
# Save into ratings.csv
ratings.to_csv(RATINGS_CSV_FILE, 
               sep=',', 
               header=True, 
               encoding='latin-1', 
               columns=['user_id', 'movie_id', 'rating', 'timestamp', 'user_emb_id', 'movie_emb_id'])
print('Saved to', RATINGS_CSV_FILE)

Saved to ratings.csv

In [44]:
# Read the Users File
users = pd.read_csv(os.path.join(MOVIELENS_DIR, USER_DATA_FILE), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['user_id', 'gender', 'age', 'occupation', 'zipcode'])
users['age_desc'] = users['age'].apply(lambda x: AGES[x])
users['occ_desc'] = users['occupation'].apply(lambda x: OCCUPATIONS[x])
print(len(users), 'descriptions of', max_userid, 'users loaded.')

6040 descriptions of 6040 users loaded.

In [45]:
# Save into users.csv
users.to_csv(USERS_CSV_FILE, 
             sep=',', 
             header=True, 
             encoding='latin-1',
             columns=['user_id', 'gender', 'age', 'occupation', 'zipcode', 'age_desc', 'occ_desc'])
print('Saved to', USERS_CSV_FILE)

Saved to users.csv

In [46]:
# Read the Movies File
movies = pd.read_csv(os.path.join(MOVIELENS_DIR, MOVIE_DATA_FILE), 
                    sep='::', 
                    engine='python', 
                    encoding='latin-1',
                    names=['movie_id', 'title', 'genres'])
print(len(movies), 'descriptions of', max_movieid, 'movies loaded.')

3883 descriptions of 3952 movies loaded.

In [47]:
# Save into movies.csv
movies.to_csv(MOVIES_CSV_FILE, 
              sep=',', 
              header=True, 
              columns=['movie_id', 'title', 'genres'])
print('Saved to', MOVIES_CSV_FILE)

Saved to movies.csv

## Content based

In [48]:
import matplotlib.pyplot as plt
import numpy as np

In [50]:
# read movies data into pandas
movies = pd.read_csv('movies.csv', encoding='latin-1')
movies.head()

,Unnamed: 0,movie_id,title,genres
0,0,1,Toy Story (1995),Animation|Children's|Comedy
1,1,2,Jumanji (1995),Adventure|Children's|Fantasy
2,2,3,Grumpier Old Men (1995),Comedy|Romance
3,3,4,Waiting to Exhale (1995),Comedy|Drama
4,4,5,Father of the Bride Part II (1995),Comedy

In [51]:
movies.isnull().sum()

Unnamed: 0    0
movie_id      0
title         0
genres        0
dtype: int64

In [52]:
movies.shape

(3883, 4)

In [53]:
movies.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 3883 entries, 0 to 3882
Data columns (total 4 columns):
Unnamed: 0    3883 non-null int64
movie_id      3883 non-null int64
title         3883 non-null object
genres        3883 non-null object
dtypes: int64(2), object(2)
memory usage: 121.4+ KB

In [56]:
# read ratings data

ratings = pd.read_csv('ratings.csv', encoding='latin-1', usecols=['user_id', 'movie_id', 'rating'])
ratings.head()

   user_id  movie_id  rating
0        1      1193       5
1        1       661       3
2        1       914       3
3        1      3408       4
4        1      2355       5

In [57]:
ratings.shape

(1000209, 3)

In [58]:
# read user data

users = pd.read_csv('users.csv', encoding='latin-1', usecols=['user_id', 'gender', 'zipcode', 'age_desc', 'occ_desc'])
users.head()

   user_id gender zipcode  age_desc              occ_desc
0        1      F   48067  Under 18          K-12 student
1        2      M   70072       56+         self-employed
2        3      M   55117     25-34             scientist
3        4      M   02460     45-49  executive/managerial
4        5      M   55455     25-34                writer

In [59]:
# Join all 3 files into one dataframe
dataset = pd.merge(pd.merge(movies, ratings),users)
# Display 20 movies with highest ratings
dataset[['title','genres','rating']].sort_values('rating', ascending=False).head(10)

                              title                       genres  rating
0                  Toy Story (1995)  Animation|Children's|Comedy       5
489283       American Beauty (1999)                 Comedy|Drama       5
489259              Election (1999)                       Comedy       5
489257           Matrix, The (1999)       Action|Sci-Fi|Thriller       5
489256          Dead Ringers (1988)               Drama|Thriller       5
489237              Rushmore (1998)                       Comedy       5
489236        Simple Plan, A (1998)               Crime|Thriller       5
489226  Hands on a Hard Body (1996)                  Documentary       5
489224         Pleasantville (1998)                       Comedy       5
489212       Say Anything... (1989)         Comedy|Drama|Romance       5

In [61]:
dataset.head(25)

,Unnamed: 0,movie_id,title,genres,user_id,rating,gender,zipcode,age_desc,occ_desc
0,0,1,Toy Story (1995),Animation|Children's|Comedy,1,5,F,48067,Under 18,K-12 student
1,47,48,Pocahontas (1995),Animation|Children's|Musical|Romance,1,5,F,48067,Under 18,K-12 student
2,148,150,Apollo 13 (1995),Drama,1,5,F,48067,Under 18,K-12 student
3,257,260,Star Wars: Episode IV - A New Hope (1977),Action|Adventure|Fantasy|Sci-Fi,1,4,F,48067,Under 18,K-12 student
4,523,527,Schindler's List (1993),Drama|War,1,5,F,48067,Under 18,K-12 student
5,527,531,"Secret Garden, The (1993)",Children's|Drama,1,4,F,48067,Under 18,K-12 student
6,584,588,Aladdin (1992),Animation|Children's|Comedy|Musical,1,4,F,48067,Under 18,K-12 student
7,590,594,Snow White and the Seven Dwarfs (1937),Animation|Children's|Musical,1,4,F,48067,Under 18,K-12 student
8,591,595,Beauty and the Beast (1991),Animation|Children's|Musical,1,5,F,48067,Under 18,K-12 student
9,604,608,Fargo (1996),Crime|Drama|Thriller,1,4,F,48067,Under 18,K-12 student
10,655,661,James and the Giant Peach (1996),Animation|Children's|Musical,1,3,F,48067,Under 18,K-12 student
11,711,720,Wallace & Gromit: The Best of Aardman Animatio...,Animation,1,3,F,48067,Under 18,K-12 student
12,735,745,"Close Shave, A (1995)",Animation|Comedy|Thriller,1,3,F,48067,Under 18,K-12 student
13,773,783,"Hunchback of Notre Dame, The (1996)",Animation|Children's|Musical,1,4,F,48067,Under 18,K-12 student
14,902,914,My Fair Lady (1964),Musical|Romance,1,3,F,48067,Under 18,K-12 student
15,907,919,"Wizard of Oz, The (1939)",Adventure|Children's|Drama|Musical,1,4,F,48067,Under 18,K-12 student
16,926,938,Gigi (1958),Musical,1,4,F,48067,Under 18,K-12 student
17,1009,1022,Cinderella (1950),Animation|Children's|Musical,1,5,F,48067,Under 18,K-12 student
18,1015,1028,Mary Poppins (1964),Children's|Comedy|Musical,1,5,F,48067,Under 18,K-12 student
19,1016,1029,Dumbo (1941),Animation|Children's|Musical,1,5,F,48067,Under 18,K-12 student
20,1022,1035,"Sound of Music, The (1965)",Musical,1,5,F,48067,Under 18,K-12 student
21,1081,1097,E.T. the Extra-Terrestrial (1982),Children's|Drama|Fantasy|Sci-Fi,1,4,F,48067,Under 18,K-12 student
22,1176,1193,One Flew Over the Cuckoo's Nest (1975),Drama,1,5,F,48067,Under 18,K-12 student
23,1179,1197,"Princess Bride, The (1987)",Action|Adventure|Comedy|Romance,1,3,F,48067,Under 18,K-12 student
24,1189,1207,To Kill a Mockingbird (1962),Drama,1,4,F,48067,Under 18,K-12 student

In [62]:
# Make a census of the genre keywords
genre_labels = set()
for s in movies['genres'].str.split('|').values:
    genre_labels = genre_labels.union(set(s))

# Function that counts the number of times each of the genre keywords appear
def count_word(dataset, ref_col, census):
    keyword_count = dict()
    for s in census: 
        keyword_count[s] = 0
    for census_keywords in dataset[ref_col].str.split('|'):        
        if type(census_keywords) == float and pd.isnull(census_keywords): 
            continue        
        for s in [s for s in census_keywords if s in census]: 
            if pd.notnull(s): 
                keyword_count[s] += 1
    #______________________________________________________________________
    # convert the dictionary in a list to sort the keywords by frequency
    keyword_occurences = []
    for k,v in keyword_count.items():
        keyword_occurences.append([k,v])
    keyword_occurences.sort(key = lambda x:x[1], reverse = True)
    return keyword_occurences, keyword_count

# Calling this function gives access to a list of genre keywords which are sorted by decreasing frequency
keyword_occurences, dum = count_word(movies, 'genres', genre_labels)
keyword_occurences[:5]

[['Drama', 1603],
 ['Comedy', 1200],
 ['Action', 503],
 ['Thriller', 492],
 ['Romance', 471]]

In [63]:
genre_labels

{'Action',
 'Adventure',
 'Animation',
 "Children's",
 'Comedy',
 'Crime',
 'Documentary',
 'Drama',
 'Fantasy',
 'Film-Noir',
 'Horror',
 'Musical',
 'Mystery',
 'Romance',
 'Sci-Fi',
 'Thriller',
 'War',
 'Western'}